html {
    position: relative;
    min-height: 100%;
}
body {
	background-color: #ddd;
	color:#333;
	margin: 0 0 50px; /* bottom = footer height */
}
footer {
    position: absolute;
    left: 20px;
    bottom: 0;
    height: 50px;
    /*
	width: calc(100% - 250px);
   */
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
}

.blockStyle
{
	/*width:calc(100% - 20px);
	*/
	border-radius: 25px;
	border: 4px #6bf double;
	
	box-shadow: 10px 10px 5px grey,
				-10px 10px 5px grey,
				10px -10px 5px grey,
				-10px -10px 5px grey;
	margin:10px;
	padding:5px;
	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0.65+0,0+100;Neutral+Density */
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
	
}
#logoHeader {
	text-align:center;
	font-size:6em;
	margin:5px;
	text-shadow: 	-1px -2px 3px #bbb,
					-1px 2px 3px #ddd,/*inner highlight*/
					1px 2px 3px #aaa, 
					1px 2px 3px #ccc,
					3px 3px 6px #333, /*outer shadow*/
					3px -3px 6px #333,
					-3px 3px 6px #333, 
					-3px -3px 6px #333,
					6px 6px 9px #111,
					-6px 6px 9px #111,
					6px -6px 9px #111,
					-6px -6px 9px #111;
					
}